.chain-table {
    display: table;
    background-color: #1d3798;
    color: white;
    border: 1px solid black;
    text-transform: capitalize;
    border-radius: 3px;
    padding: 5px 10px;
}

tr:first-child, tr:last-child {
    color: yellow;
}

td {
    border-top: 1px dashed yellow;
    border-bottom: 1px dashed yellow;
}

td:first-child {
    border-top: none;
}
/* 
td:last-child {
    border-bottom: none;
} */