html, body, .gameplay-container {
    width: 100%;
    /* height: 100%; */
}

.gameplay-container {
    display: flex;
}

.left-half, .right-half {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
}

.chain-table {
    font-size: xx-large;
}