@import url("main.css");

body, html{
    margin: 0;
    padding: 0;
    height: 100%;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: var(--norm-font-one);
}

*::before, *::after {
    box-sizing: border-box;
}

/* :root {
    --backgroundColor: rgba(246, 241, 209);
    --colorShadeA: rgb(106, 163, 137);
    --colorShadeB: rgb(121, 186, 156);
    --colorShadeC: rgb(150, 232, 195);
    --colorShadeD: rgb(187, 232, 211);
    --colorShadeE: rgb(205, 255, 232);
} */
  
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700");

body {
    font-size: 1rem;
    min-height: 100vh;
}

h1 {
    text-align: center;
    padding-top: 5%;
    font-family: var(--norm-font-two);
    font-size: 72px;
    /* color: var(--big-font-color); */
}

.normal-create-container {
    display: flex;
    width: 100vw;
    height: 50vh;
    align-items: center;
    justify-content: space-around;
}

.waiting-room-container {
    display: flex;
    /* width: 100vw; */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-items: center;
    background-color: #ADC698
}

.lobby {
    display: flex;
    flex-wrap: wrap-reverse;
    flex-direction: column;
    justify-content: space-between;
    justify-items: space-between;
    align-items: center;
    align-content: center;
    background-color: #ADC698
}

.gameplay-container {
    display: grid;
    width: 100vw;
    height: 60vh;
    grid-template-columns: 2fr 1fr 2fr;
    grid-template-rows: 2fr 1fr 2fr 1fr;
    align-items: center;
    justify-content: center;
    justify-items: center;
}

.round-number {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
    font-size: xx-large;
    text-decoration: underline;
}

.scoreboard {
    grid-column: 2 / span 2;
    grid-row: 1 / span 1;
    font-size: xx-large;
    text-decoration: underline;
}

.chain {
    grid-column: 2 / span 2;
    grid-row: 2 / span 2;
    font-size: 150%;
}

.guess-selection {
    grid-column: 1 / span 1;
    grid-row: 3 / span 1;
    padding: 5%;
}

.code-text {
    outline: none;
    line-height: 50px;
    background: lightgray;
    box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
    border-radius: 8%;
    padding: 0 20px;
    font-size: 16px;
    color: #666;
    transition: all 0.4s ease;
}

.codeplay-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    gap: 15px;
}

.custom-create-container {
    margin-top: 1%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
    justify-items: center;
    height: auto;
}

.left-select {
    grid-column: 1 / span 1;
}

.middle-select {
    grid-column: 2 / span 1;
    font-size: 24px;
    font-weight: bolder;
}

.right-select {
    grid-column: 3 / span 1;
}

.direction-button {
    opacity: 0.8;
    margin: 5%;
    padding: 0.5em 1em;
    background-color: var(--primary-button-color);
    border-radius: 3px;
    border: 1px solid var(--colorA); 
}

.direction-button:hover {
    opacity: 0.9;
}

.direction-button:active {
    opacity: 1;
}

.use-chain, .confirmation-chain {
    display: inline;
}

.confirmation-chain {
    font-size: 24px;
}

.form-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-items: center;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.account-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stats-container {
    display: flex;
    flex-direction: row;
}

.change-display-name-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nice-table {
    border: 5px solid #FFCF79;
    border-style: dashed;
    background-color: #E5E4D7;
    padding: 15px;
}

.matches-container {
    display: flex;
    width: 100%;
}

.matches-table {
    width: 100%;
}