@import url("main.css");

.inventory-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.inventory-table {
    display: table;
    margin-top: 3%;
    padding: 25% 0%;
}

td, th {
    border-spacing: 1em;
}
