/* To use this css file in your css file
import the file directly into your custom css file, placed at the top of the file
Example:
    @import url('main.css');
    // rest of doc 
To use the main variables (requries this file to be imported)
Use this type of syntax
p {
    font-family: var(--norm-font-one);
} */

body,html{
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #ADC698;
}

div.top-banner{
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #7b8d6d
}


@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Playfair+Display&display=swap');

@font-face {
    font-family: 'RetroFunk';
    src: url('retrofunk.woff2') format('woff2'),
         url('retrofunk.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Bratsy';
    src: url('bratsy.woff2') format('woff2'),
         url('bratsy.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GvTime';
    src: url('gvtime.woff2') format('woff2'),
         url('gvtime.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

:root {
    --norm-font-one: 'Merriweather', 'serif';
    --norm-font-two: 'Playfair Display', 'serif';
    --big-font-one: 'RetroFunk';
    --big-font-two: 'Bratsy';
    --big-font-three: 'GvTime';
    --colorA: #415238;                              /*FOR LACK OF CURRENT NAME*/
    --primary-background-color: #6AA374;
    --colorB: #ADC698;                              /*FOR LACK OF CURRENT NAME*/
    --colorC: #C05746;                              /*FOR LACK OF CURRENT NAME*/
    --big-font-color: #C45852;
    --norm-font-color: #C98B2C;
    --primary-button-color: #E9C382;
    --secondary-button-color: #DB9F45;

}

.footer{
    left: 0;
    bottom: 100;
    width: 100%;
    background-color: #c9c7bc;
    color: black;
    text-align: center;
  }
