.watch-room-container {
    display: flex;
    flex-direction: row;
}

.half {
    display: flex;
    width: 50%;
    word-wrap: normal;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.in-game {
    width: 100%;
    margin-left: 5%;
    word-wrap: break-word;
    table-layout: fixed;
    border: 5px solid #FFCF79;
    border-style: dashed;
    background-color: #E5E4D7;
}

td, th {
    word-wrap: break-word;
    padding: 15px;
}