<div class="container">
  <h1 [ngClass]='{bordered: true}'>{{ title }}</h1>
  <form #ticketForm="ngForm" (ngSubmit)="onSubmit(ticketForm.value)">
     <div class="form-group">
      <label>First Name: </label>
      <input type="text"
           required
           #name="ngModel"
           [class.is-invalid]="(name.invalid && name.touched)"
           class="form-control is-invalid" [(ngModel)]="ticketModel.fname"
           name="fname">   <!-- note: we don't use autofocus here. Why? -->
    </div>

    <div class="form-group">
      <label>Last Name: </label>
      <input type="text"
           required
           #name="ngModel"
           [(ngModel)]="ticketModel.lname"
           name="lname">   <!-- note: we don't use autofocus here. Why? -->

    </div>

    <div class="form-group">
      <label>Email: </label>
      <input type="email" class="form-control" required
             #email="ngModel"
             [(ngModel)]="ticketModel.email" name="email">
    </div>

    <div class="form-group">
      <select required class="custom-select" [(ngModel)]="ticketModel.cat" name="cat_option">
        <option value="">What would you like to contact us about today? </option>
        <option *ngFor="let cat of cats">{{ cat }} </option>
      </select>
    </div>

    <div class="form-group">
      <label>Priority Level?</label>
      <div class="form-check">
        <input required class="form-check-input" type="radio" [(ngModel)]="ticketModel.prioPreference"  name="prioPreference" value="High">
        <label class="form-check-label">High</label>
      </div>
      <div class="form-check">
        <input required class="form-check-input" type="radio" [(ngModel)]="ticketModel.prioPreference"  name="prioPreference" value="Medium">
        <label class="form-check-label">Medium</label>
      </div>
      <div class="form-check">
        <input required class="form-check-input" type="radio" [(ngModel)]="ticketModel.prioPreference"  name="prioPreference" value="Low">
        <label class="form-check-label">Low</label>
      </div>
    </div>

    <div class="form-group">
      <label>Enter Your Message Here: </label>
      <textarea type="text" class="form-control" required
             [(ngModel)]="ticketModel.msg" name="msg"></textarea>
    </div>

    <div class="form-check mb-3">
      <input class="form-check-input" type="checkbox" [(ngModel)]="ticketModel.sendText" name="sendtxt">
      <label class="form-check-label">Notify me when my ticket is ready</label>
    </div>

    <button class="btn btn-primary" type="submit"
          [disabled]="!ticketForm.form.valid"
          (click)="confirmTicket(ticketForm.value)"
          title="always enabled"
          name="btn" value="placeticket" [ngStyle]="{'background-color': 'lightblue'}">
      Place Ticket
    </button>

    <div>
      <p *ngIf='ticketForm.finished'>Recieved!</p>
    </div>

    <div *ngIf="ticketForm.value.fname=='Michael'">That is a great name</div>
    <div *ngIf="ticketForm.value.fname=='Solimar'">That is a great name</div>

    <!--  type="submit" class="btn btn-success"
            [disabled]="!ticketForm.form.valid">
      Submit
    </button> -->
  </form>


<p> Here is your response! : {{ responsedata | json }} </p>

</div>
