<section id="navbar">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="../../../html/home.php">Chain Reaction</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav w-100">             
          <li class="nav-item">
            <a class="nav-link" href="../../../html/roomcodeplay.php"> Play <span class="sr-only">(current)</span></a></li>
          <li class="nav-item">
          <a class="nav-link" href="../../../html/signup.php"> Sign Up <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
          <a class="nav-link" href="../../../html/login.php"> Login <span class="sr-only">(current)</span></a>
          </li>
  
        </div>
    </nav>
  </section>