<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Solimar Kwa and Michael Asare">
    <title> Waiting Room </title>
  </head>
  
  <body>
    <header>
      <usernavbar *ngIf='signedIn'></usernavbar>
      <guestnavbar *ngIf='!signedIn'></guestnavbar>
    </header>
    <h1>Waiting</h1>
    <h1>TimeRemaining</h1>
    <h4>Lobby</h4>
    <table>
      <!-- <tr *ngFor="let player of players">
        <td>{{ player.displayName }}</td> -->
    </table>
  </body>
</html>